cid = ''
secret = ''
user = ''
password = ''
subreddit = ''


agent = 'python:(AffiliateBot):(0.1) (by (dgc1980))'

AffiliateData = [
    # Generic
    '[?&]tap_a=',
    '[?&]tap_s=',
    '[?&]AFFID=',
    '[?&]referalCode=',
    '(=LINKSHAR|CJPID=)',

    # Store
    '(amazon|amzn)\.(com|co\.(uk|jp)|ca|de|com\.br|cn|fr|in|it|es)\S+?tag=', # Amazon Gurupa links
    'amazon\.(com|co\.(uk|jp)|ca|de|com\.br|cn|fr|in|it|es)/exec/obidos/ASIN/.*-2[0-3].*', # Amazon Obidos links
    'amzn\.to',
    'battle\.net/recruit/',
    'crusaderkings.com/?ref',
    'depot.xda-developers.com',
    'chrono\.gg/\w+',
    '\b(?!www\.)(\w+(?:-\w+)*\.)chrono\.gg',
    '2game\.com/(.*)[?&]ref=',
    'nuuvem\.(com|com\.br)/(.*)[?&]utm_source',
    'express\.google\.com\S+utm_campaign',
    'shadow\.tech\S+invite',
    'raise\.com', 
    'roblox\.com/\S+[?&]rbxp=',
    'bestbuy\.com/(.*)[?&](ref|lid|cjpid|aid|pid)=',
    'dlgamer\.(.*)[?&]affil=',
    'dreamgame\.com/(.*)[?&]acc=',
    'ebay\.(.*)[?&](afepn|campid|pid)=',
    'rover\.ebay\.com',
    'ebay\.us',
    'store\.epicgames\.com/(.*)[?&]epic_affiliate=',
    'gamebillet.com/(.*)[?&]affiliate=',
    'gog.com/partner',
    'eveonline\.com/(.*)[?&]invc=',
    'fanatical\.com/(.*)[?&]aff_track=CJ',
    'fanatical\.com/(.*)[?&]ref=',
    'flyingbundle\.com/(.*)[?&]ref=',
    'gamefly\.com/(.*)[?&]adtrackingid=',
    'gamersgate\.(com|co\.uk)/(.*)[?&]caff=',
    'gamesplanet\.(.*)[?&](affiliate|ref)=',
    '(.*)\.gamesrepublic\.com',
    'gamesrepublic\.com/go/(.*)',
    'gamesrepublic\.com/.*,(true|false),\d+\.html',
    'gamestop\.com/(.*)[?&](utm_source=linkshare|utm_medium=affiliate|utm_campaign=deeplink|sourceID=|cid=afl_|affID=)',
    'go\.microsoft\.com/(.*)[?&]rrid=',
    'gog\.com/(.*)[?&]pp=',
    'greenmangaming\.com/(.*)[?&]utm_medium=affiliate',
    'humble\.com/(.*)[?&]refc=',
    'humblebundle\.com/(.*)[?&]refc=',
    'humblebundle\.com/(.*)[?&]partner=',
    'itunes\.apple\.com/(.*)[?&](affid|at)=',
    'indiegala\.com/(.*)[?&]ref=',
    'microsoftstore\.com/(.*)[?&]clickid=',
    'mention\-me.com',
    'newegg\.com/(.*)[?&](aid|pid)=',
    'origin\.com/(.*)[?&](lssiteid=|sourceid=origin_aff_|c=)',
    'razerzone\.com/(.*)[?&]rid=',
    'refer\.ubi\.com',
    'robertsspaceindustries\.com/star-citizen/(.*)[?&]rid=',
    'shop\.ca/(.*)[?&]plcktb=',
    'signup\.leagueoflegends\.com/(.*)[?&]ref=',
    'stacksocial\.com/(.*)[?&](rid|aid)=',
    'steelseries\.com/(.*)[?&]code=',
    'swtor\.com/r/(.*)',
    'target\.com/(.*)[?&](afid|ref)=',
    'tigerdirect\.com/(.*)[?&]AffiliateID=',
    'tracking\.groupon\.com/r',
    'groupon\.com/(.*)[?&]user=',
    'vodo\.net/(.*)[?&]referrer=',
    'walmart\.com/(.*)[?&](wmlspartner|veh=|affsourceid=)',
    'voidu\.com/(.*)[?&](voider|utm_medium=affiliate)'
]

Whitelist = [
'gog.com',
'gogobundle.com',
'indiegala.com',
'store.steampowered.com',
'store.silagames.com',
'fanatical.com',
'smile.amazon.com',
'dlgamer.com',
'allyouplay.com',
'flash.newegg.com',
'gamestop.com',
'uk.gamesplanet.com',
'us.gamesplanet.com',
'eu.gamesplanet.com',
'gamebillet.com',
'gamersgate.com',
'groupees.com',
'greenmangaming.com',
'chrono.gg',
'theindiebox.com',
'voidu.com',
'origin.com',
'store.playstation.com',
'store.ubi.com',
'lbostore.com',
'newegg.com',
'gamestore.razer.com',
'gamesplanet.com',
'retroism.com',
'humblebundle.com',
'microsoft.com',
'amazon.com',
'marketplace.xbox.com',
'crytivo.com',
'target.com',
'wingamestore.com',
'forums.stardock.net',
'store.triseum.com',
'oculus.com',
'escapefromtarkov.com',
'paradoxplaza.com',
'itch.io',
'eu.shop.battle.net',
'gamefly.com',
'macgamestore.com',
'bestbuy.com',
'm.gamestop.com',
'eu.gamestore.razer.com',
'nintendo.com',
'xbox.com',
'swtor.com',
'us.shop.battle.net',
'frys.com',
'na.alienwarearena.com',
'ea.com',
'civilization.com',
'epicgames.com',
'm.newegg.com',
'nintendo.co.uk',
'buy.guildwars2.com',
'guildwars2.com',
'ardorthegame.com',
'eu.alienwarearena.com',
'game.es',
'weeklyad.target.com',
'razer.com',
'walmart.com',
'us.account.blizzard.com',
'destinythegame.com',
'nintendo.es',
'amazon.fr',
'frontierstore.net',
'amazon.ca',
'zavvi.com',
'kartridge.com',
'news.blizzard.com',
'majornelson.com',
'blog.us.playstation.com',
'viveport.com',
'rainbow6.ubisoft.com',
'dungeonmans.com',
'direct2drive.com',
'i.redd.it',
'amazon.de',
'amazon.com.au',
'gamesessions.com',
'fr.gamesplanet.com',
'steamdb.info',
'walmart.ca',
'uk.gamestore.razer.com',
'account.microsoft.com',
'amazon.co.uk',
'de.gamesplanet.com',
'dell.com',
'gamestop.de',
'store.na.square-enix-games.com',
'digitalcombatsimulator.com',
'savemi.com.au',
'shop.battle.net',
'jbhifi.com.au',
'ebgames.ca',
'uk.gamersgate.com',
'ebgames.com.au',
'matrixgames.com',
'harveynorman.com.au',
'redbox.com',
'observer-game.com',
'beamdog.com',
'steampowered.com',
'register.ubisoft.com',
'us.gamestore.razer.com',
'lazyguysbundle.com',
'aspyr.com',
'fireflowergames.com',
'meijer.com',
'bunchkeys.com',
'happyholidays.nintendo.com',
'bethesda.net',
'game.co.uk',
'twitch.amazon.com',
'i.imgur.com',
'imgur.com'
]
